# 默认使用淘宝源
registry: https://registry.npm.taobao.org

# @tenwit-fe 和 @tenwit 命名空间的，使用腾银私有 NPM 源地址
# @tenwit-fe:registry=https://npm.tenwit.vip/
# @tenwit:registry=https://npm.tenwit.vip/

# NPM 私有库密钥
# //npm.tenwit.vip/:_auth=${TENONE_NPM_TOKEN}

# always-auth=true
# save-exact=true
